<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title><%= subtitle %> :: Hikaru Share Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/amis/1.10.2/sdk.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/amis/1.10.2/helper.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/amis/1.10.2/iconfont.min.css"
      rel="stylesheet"
    />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="root" class="app-wrapper"></div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/amis/1.10.2/sdk.min.js"></script>
    <script type="text/javascript">
      var amisJSON = null;
      (async function () {
        await $.ajax('/getAmisJSON?path=' + window.location.pathname.slice(1), {
          dataType: 'json',
          success: (data) => {
            amisJSON = data;
          }
        });
        const amis = amisRequire('amis/embed');
        const amisScoped = amis.embed('#root', amisJSON);
      })();
    </script>
  </body>
</html>
